Adafruit-Blinka==8.39.1
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==2.0.0
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==3.2.8
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
altgraph==0.17.4
asyncgui==0.6.1
asynckivy==0.6.2
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==44.0.0
docutils==0.21.1
evdev==1.7.0
ffpyplayer==4.5.1
idna==3.7
keyboard==0.13.5
Kivy==2.3.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
materialyoucolor==2.0.9
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pillow==10.3.0
pycparser==2.22
pyftdi==0.55.4
Pygments==2.17.2
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pynput==1.7.6
pyoxidizer==0.24.0
pyserial==3.5
python-xlib==0.33
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
typing_extensions==4.11.0
urllib3==2.2.1
